<div class="container mt-5">
    <div *ngIf="medicament" class="text-center">
      <img *ngIf="medicament.photo" [src]="getMedicamentImageUrl(medicament)" class="img-fluid mb-3" alt="{{ medicament.titre }}">
      <h2>{{ medicament.titre }}</h2>
      <p>{{ medicament.description }}</p>
      <p><strong>Prix: </strong>{{ medicament.prix }} DT</p>
  
      <!-- Quantity and total price section -->
      <div class="input-group mb-3 justify-content-center">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" (click)="decreaseQuantity()">-</button>
        </div>
        <input type="text" class="form-control text-center" style="max-width: 60px;" [(ngModel)]="quantity">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="increaseQuantity()">+</button>
          <button class="btn btn-primary" (click)="addToCart(medicament, quantity)">
            <i class="fa-solid fa-cart-plus"></i> Ajouter au panier
          </button>
        </div>
      </div>
  
      <!-- Total price section -->
      <p><strong>Total Prix: </strong>{{ calculateTotalPrice() }} DT</p>
    </div>
  </div>
  