/* cart.component.css */

.card {
  border: none; /* Remove default border */
  border-radius: 12px; /* Rounded corners */
  overflow: hidden; /* Ensure child elements don't overflow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth animation */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(-5px); /* Lift card slightly on hover */
}

.card-img-top {
  border-radius: 12px 12px 0 0; /* Rounded top corners for image */
  object-fit: cover; /* Ensure image covers the entire space */
  height: 200px; /* Set a fixed height for consistency */
  width: 100%; /* Ensure image covers the entire width */
}

.card-body {
  padding: 1.5rem; /* Increased padding for better spacing */
}

.card-title {
  font-size: 1.2rem; /* Larger font size for title */
  margin-bottom: 0.5rem; /* Reduced margin below title */
}

.text-pink {
  color: rgb(13, 173, 194); /* Pink text color */
}

.btn-add-cart {
  display: inline-block;
  background-color: rgb(13, 173, 194); /* Pink background color */
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-add-cart:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  }

  .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(165, 182, 238, 0.801);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  max-width: calc(25% * 4 - 20px);
  }

  .boutonAjouter {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
    transition: background-color 0.5s, transform 0.5s;
  }

  .boutonAjouter:hover {
    background-color: rgb(0, 34, 146);
    transform: scale(1.3);
  }
