<div class="header-container">
    <div class="header-content">
      <h2 class="titre">
        <i class="fa-solid fa-list"></i>
        Liste des ordonnances</h2>
        <button class="btn btn-dark" routerLink="/composants/gestionutilisateurs/ajoutuser/ajoutuser">Ajout</button>
    </div>
  </div>
 
  <div class="row mt-4">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <ul>
              <li></li>
            </ul>
          </td>
          <td>
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-info ms-2">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  