<div class="container mt-5">
  <div class="header-container">
    <div class="header-content">
      <h2 class="titre">
        <i class="fa-solid fa-list"></i>
        Liste des Médicaments
      </h2>
      <button class="boutonAjouter" (click)="navigateToNewMedicament()">
        <i class="fa-solid fa-square-plus boutonAjouter"></i>
      </button>
    </div>
  </div>

  <!-- Success and Error Messages -->
  <div *ngIf="successMessage" class="alert alert-success text-center" role="alert">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger text-center" role="alert">
    {{ errorMessage }}
  </div>

  <!-- Search input -->
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Rechercher..." [(ngModel)]="searchText" (keyup)="filterMedicaments()">
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let medicament of filteredMedicaments">
      <div class="card card-hover text-center">
        <img *ngIf="medicament.photo" [src]="getMedicamentImageUrl(medicament)" class="card-img-top" alt="{{ medicament.titre }}">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ medicament.titre }}</h5>
          <p class="card-text"><strong>Prix: </strong>{{ medicament.prix }} DT</p>
          <p class="card-text"><strong>Quantité: </strong>{{ medicament.quantite }}</p>
        </div>
        <div class="card-footer d-flex justify-content-center">
          <button class="btn btn-primary btn-sm btn-hover mx-2" (click)="editMedicament(medicament.id)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-danger btn-sm btn-hover mx-2" (click)="deleteMedicament(medicament.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="filteredMedicaments.length === 0" class="col-12 text-center">
      Aucun médicament trouvé.
    </div>
  </div>
</div>
