.modal-body {
  padding: 2rem;
  text-align: center;
}

.modal-title {
  margin-bottom: 1.5rem;
}

.img-thumbnail {
  display: block;
  margin: 0 auto;
}

.btn-block {
  width: 100%;
  text-align: center;
}

.modal-footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.btn {
  min-width: 100px;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
