<div class="sidebar">
  <div class="sidebar-header">
    <h2>PharmaHouse</h2>
    <hr>
  </div>
  <ul class="sidebar-menu">
    <li routerLinkActive="actif" routerLink="/ordonnances">
      <i class="fas fa-tasks"></i> Mes ordonnances
    </li>


    <li routerLinkActive="actif" routerLink="/medicamentsUser">
      <i class="fa-solid fa-pills" ></i> Les médicaments
    </li>

    
    <li routerLinkActive="actif" routerLink="/medicaments">
      <i class="fa-solid fa-pills" ></i> Gestion de Stock
    </li>

    <li routerLinkActive="actif" routerLink="/dashboard">
      <i class="fa-solid fa-pills" ></i>  Statistiques Medicaments
    </li>


    <li routerLinkActive="actif">
      <i class="fa-solid fa-location-dot"></i> Pharmacies
    </li>
    <li routerLinkActive="actif">
      <i class="fa-solid fa-bag-shopping"></i> Mes commandes
    </li>
  </ul>
</div>
