<div class="sidebar">
  <div class="sidebar-header">
    <h2>PharmaHouse</h2>
    <hr>
  </div>
  <ul class="sidebar-menu">
    <li>
      <i class="fas fa-tasks"></i> Mes ordonnances
    </li>


    <li>
      <a routerLink="/medicaments" class="sidebar-link">
      <i class="fa-solid fa-pills" ></i> Mes médicaments
      </a>

    </li>
   
   
    <li>
      <i class="fa-solid fa-location-dot"></i> Pharmacies
    </li>
    <li>
      <i class="fa-solid fa-bag-shopping"></i> Mes commandes
    </li>
  </ul>
</div>