.sidebar {
  width: 100%;
  height: 100%;
  background-color: #3b3b3b;
  color: #fff;
  padding: 6.2%;
  
  border-radius: 1em;
  position: relative;
  top: 1.2%;
  left: 2.8%;
  box-shadow: 0 0 20px rgb(34, 34, 34);
}

.sidebar-header h2 {
  margin-top: 0;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  color: rgb(202, 219, 202);
}

.sidebar-header hr {
  border-color: #ffffff;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 31px;
}

.sidebar-menu li {
  margin-bottom: 30px;
  margin-left: 15px;
}

.sidebar-menu li i {
  margin-right: 14px;
}
.sidebar-link {
  color: white;           /* White text */
  text-decoration: none;  /* Remove underline */
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 0;
    top: 0;
    left: 0;
  }

  .sidebar-header h2 {
    font-size: 18px;
  }

  .sidebar-menu li {
    margin-left: 0;
  }
}

.actif
{
  font-weight: bold;
  color:#c2c2c2;
  cursor: pointer;
}
