<div class="container">
    <h1>Dashboard Médicaments</h1>
  
    <!-- Commandes Counter -->
    <div class="commandes-counter">
      <p>Commandes : <span>{{ commandesThisYear }}</span></p>
    </div>
  
    <!-- Most Consumed Medications Chart -->
    <div class="chart-container">
      <canvas id="mostConsumedMedicationsChart"></canvas>
    </div>
  
    <!-- Monthly Commandes Chart -->
    <div class="chart-container">
      <canvas id="monthlyCommandesChart"></canvas>
    </div>
  
    <!-- Top Medications Chart -->
    <div class="chart-container">
      <canvas id="topMedicationsChart"></canvas>
    </div>
  
    <!-- Pie Chart -->
    <div class="chart-container">
      <canvas id="pieChart"></canvas>
    </div>
  </div>
  